# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Hotels.net.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\allan\Desktop\hotels.net\.idea\.idea.Hotels.net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
